.notice-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
    transition: 0.4s;
    width: 100%;
    border-radius: 5px;
    padding: 3% 10%;
    color: black;
    letter-spacing: 1.1px;
    line-height: 22px;
}


.notice-title {
    margin-bottom: 24px;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}

.notice-details {
    margin-bottom: 44px;
    text-align: center;
}

.notice-date {
    text-align: right
}